body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.submit{
  background-color: rgb(13,111,252);
  margin-top: 10px !important;
  padding: 10px;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: bold;
}
.delete{
  background-color: rgb(220,52,68);
  color: white;
  border: none;
  border-radius: 10%;
  padding: 5px;
}
.Dashboard{
  background-color: black;
  height: 100vh;
  background-image: url('../public/highwayAlertBg1.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Dashboard-main{
  background-color: rgba(255, 255, 255, 0.372);
  width: fit-content;
  border-radius: 30px;
  padding: 30px;
}
.row{
    flex-wrap:nowrap;
    display: flex;
}
.Dashboard{
    overflow-x: hidden;
}
.flex-h{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.v-flex{
    display: flex;
    flex-direction: column;
}
.Dashboard {
  display: flex;
  flex-direction: column;
}
.Dashboard .main{
    background-color: #ffffff58;
    padding: 20px;
    border-radius: 30px;
}
.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.user-input{
    padding: 20px;
}
.user-input input, select{
    margin-top: 10px;
    border-radius: 7px;
    padding: 10px;
    border: none;
}
.add{
  width: 30%;
  background-color: rgb(13,202,240);
  color: white;
  padding: 10px;
  border-radius: 20px;
  outline: none;
  border: none;
  margin: 1cqmin auto;

}
.added-locations {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px; */
}

.added-location {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

/* Add any additional styling as needed */
